@font-face {
    font-family: "CustomFont";
    src: url('/fonts/SamuraiBlast-YznGj.ttf') format('truetype');
}
@font-face {
    font-family: 'title';
    src: url('/fonts/Parikesit-0ZYR.ttf') format('truetype');
}
@font-face {
    font-family: 'alien';
    src: url('/fonts/CosmicAlien-V4Ax.ttf') format('truetype');
}
@font-face {
    font-family: 'logo';
    src: url('/fonts/538LyonsLogoTextRegular-2qnX.ttf');
}
body {
    margin: 0;
    height: 100vh; 
    overflow: hidden;
}
#logo {
    font-family: 'logo';
    font-size: 40px;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;

}
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/Images/10804305.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .7; 
    z-index: -1; 
}
.board {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    position: relative;
    box-sizing: border-box; 
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 33.33%; 
    height: 98px; 
    line-height: 98px;
    box-sizing: border-box; 
    border: 1px solid #646464;
    background-color: #c8d9df81;
    text-align: center;
    font-size: 24px;
}
.rules{
    font-family:'alien';
    color: rgb(233, 199, 87);
}
/* --- board design options ---*/
.options {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(48, 48, 48);
    color: white;
    padding: 0 20px;
    margin-bottom: 20px;
}
label {
    margin:10px;
}
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    width: 100px;
    height:25px;
}

select::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
/* --Game title ---*/
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-family: 'title';
    cursor: pointer;
    color:white;
}
.identifier{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title:hover{
    color: #FFAE42;
}
.contents p {
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #f1f1f1;
    text-align: center;
}
.cell:nth-child(3n) {
    float: right;
}

.clear {
    clear: both;
}
/* ----navbar ---- */

.topnav-right {
    float: right;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .container {
    font-family: 'CustomFont';
    display: flex;
    justify-content: space-between;
    display: none;
  }
  .player-1,
  .player-2 {
    text-align: center;
    align-items: center;
    margin: 0 20px;
  }
  .player-1 h1{
    color: rgba(240, 140, 58, 0.856);
  }
  .player-2 h1{
    color: rgba(58, 158, 240, 0.856);
  }
  .time-div{
    font-family: 'title';
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .contents{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 65%;
  }
  .main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh; /* Set height to 100% of the viewport height */
    
    }
.restart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.submit-button-container{
    margin-top: 15px;
}
p {
    color: white;
}
.math-problem{
    font-size: 30px;
    font-family: 'title';
    color: white;
}
.btn-1, .btn-2, .btn-3 {
    background-color: #FFAE42;
    border-radius:50px;
    width: 125px;
    height:50px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 400;
}
.btn-1:hover, .btn-2:hover, .btn-3:hover{
    background-color: #FFC982;
}
.btn-4{
    background-color: #da6642;
    border-radius:50px;
    width: 125px;
    height:50px;
    border: none;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
}
